<!DOCTYPE html>

<html
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}">
<div layout:fragment="content">
    <!-- Section-->

    <section class="container">
        <br>

        <!--    수정했다   -->
        <div sec:authorize="isAuthenticated()" th:if="${loginUser.id}==${board.user.id}">

            <!--      이부분 부터 시작-->

            <button type="button" th:onclick="|location.href='@{/board/modifyForm/{boardId}(boardId=${board.id})}'|"
                    class="btn btn-warning">글 수정&nbsp;
            </button>
            <button type="submit" class="btn btn-danger" id="btn-danger">글 삭제</button>
        </div>


        <br><br>
        <div class="form-group">
            <h1> 제목 : [[${board.title}]]</h1>
        </div>
        <br>
        <div class="form-group">
            <h1> 작성자 : [[${board.user.username}]]</h1>
        </div>
        <br>
        <div class="form-group">
            <h1> 내용 : </h1>
            <div id="content" th:utext="${board.content}"></div>
        </div>
        </br>
        <div class="form-group">
            <h1> 조횟수 : [[${board.hit}]]</h1>
        </div>
        <br>
        <div class="form-group">
            <h1> 작성 시간 : [[${board.createTime}]]</h1>
        </div>
        <!--    jquery를 사용해서 데이터를 주기위한 input 태그-->
        <input id="boardId" type="hidden" th:value="${board.id}">

        <div sec:authorize="isAuthenticated()" class="container">
            <form id="commentForm" name="commentForm" method="post">
                <br><br>
                <div>
                    <div>
                        <span><strong>Comments</strong></span> <span id="cCnt"></span>
                    </div>
                    <div>
                        <table class="table">
                            <tr>
                                <td>
                                    <textarea style="width: 1100px" rows="3" cols="30" id="replyContent" name="content"
                                              placeholder="댓글을 입력하세요"></textarea>
                                    <br>
                                    <div>
                                        <button type="button" id="saveReply" class="btn pull-right btn-success">등록
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <input type="hidden" id="b_code" name="b_code" value="${result.code }"/>
            </form>
        </div>
        <div class="container">
            <form id="commentListForm" name="commentListForm" method="post">
                <div id="commentList">
                </div>
            </form>
        </div>



        <script>
            // 메인화면 페이지 로드 함수

            $(document).ready(function () {

                $('#summernote').summernote({
                    height: 400,
                    maxHeight: 400
                });
            });

        </script>
        <script>

            $(document).ready(function () {
                let boardId = $("#boardId").val();
                $("#btn-danger").click(function () {
                    if (confirm("정말로 글을 삭제하시겠습니까?")) {
                        location.href = '/board/delete/' + boardId;
                    }
                });
            });
        </script>

        <script>
            /*
             * 댓글 등록하기(Ajax)
             */
            $(document).ready(function () {
                $("#saveReply").click(function () {
                    let data = {
                        boardId: $("#boardId").val(),
                        content: $("#replyContent").val()
                    }
                    console.log(data);
                    $.ajax({
                        url: "/reply/save",
                        type: "POST",
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        //dataType : "json", //디폴트 값으로 알아서 맞춰서 해준다
                        success: function (data) {
                            alert(data);
                        },
                        error: function (req,status,error) {

                            console.log(req);
                        },


                    });
                });
            });

        </script>



    </section>
</div>